<div class="col s6 pages-show">
  <img src=<%= bookmark.space.image_url %>>
  <h5><%= link_to bookmark.space.company_name, space_path(bookmark.space_id) %></h5>
  <p><%= bookmark.space.category.category_type %></p>
  <p><%= bookmark.space.address %></p>
  <p><%= bookmark.space.description %></p>
</div>
