<!-- SLIDER -->
<div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag('banner_01.jpg') %> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <%= image_tag('banner_03.jpg') %> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <%= image_tag('banner_06.jpg') %> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <%= image_tag('banner_05.jpg') %> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
</div>

<!-- HOW WE WORK -->
<div id="intro" class="section scrollspy yellow lighten-2">
    <div class="row">
      <div  class="col s12" style="margin-bottom: 20px;">
        <h5 class="header text_h5"> How We Work<span class="span_h5"> laoreet quis.</span> </h5>
      </div>

      <div  class="col s12 m4 l4">
        <div class="center promo promo-example">
          <i class="material-icons medium">redeem</i>
          <h5 class="promo-caption">Rent 3 Pieces At A Time</h5>
          <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="center promo promo-example">
          <i class="material-icons medium">insert_emoticon</i>
          <h5 class="promo-caption">Swap Whenever You Want</h5>
          <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="center promo promo-example">
        <i class="material-icons medium">local_laundry_service</i>
        <h5 class="promo-caption">Free Shipping & Dry Cleaning</h5>
        <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        </div>
      </div>
    </div>
</div>

<!-- ABOUT US -->
<div class="section brown lighten-4">
  <div class="aboutus row">
    <div class="col s12 m4 offset-m1"><p>
      <div class="materialboxed" width="100px">
        <%= image_tag('cats_cute.jpg', :size => "300x300") %>
      </div>
    </div>
    <div class="col s12 m7">
      <div class="des">
      <h4 class="title center">About Us</h4>
      <p class="caption center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
      </div>
    </div>
  </div>
</div>
