<div class="content-lg container" style="width: 900px">
<br /><br /><br /><h1>New session</h1>

  <%= bootstrap_form_for(@new_session) do |f| %>
  <%= f.number_field :price, in: 1..200 ,required: true , label: "Price S$ :"   %>
  <%= f.number_field :duration, in: 1..24 ,required: true , label: "Duration in hrs :"%>
  <%= f.datetime_select :datetime ,required: true , label: "Date Time :" %>
  <%= f.submit "Create" %>

<% end %>
</div>
