<h1>Cart</h1>

<div class="row cart">

  <% @all_cart_item.each do |item| %>

  <div class="col s3">
    <% clothes_set = ClothesSet.find(item.clothes_set_id) %>
    <h6><%= clothes_set.name %></h6>
    <input type="hidden" value="<%=clothes_set.id%>" class='setId'>
    <div class="">
      <img src="<%= clothes_set.photo_URL %>" alt="<%= clothes_set.name %>">
    </div>
    <%= button_to 'Remove from Cart', cart_path(item.id), :form => { :class => "removeCartBtn" }, remote: true, method: :delete %>


  </div>

  <% end %>
  <%= button_to 'Checkout', cart_checkout_path, :form => { :class => "checkoutBtn" }, remote: true, method: :post %>

</div>
