<h1>Cart</h1>

<div class="container">
 <div class="row">
   <h1>New Child Form</h1>

   <%= form_for @selected_item do |f| %>

   <div class="">
     <% @all_cart_item.each do |item| %>
     <div class="">
       <% clothes_set = ClothesSet.find(item.clothes_set_id) %>
       <%= check_box_tag "cart_item_ids[]", item.id %>
       <%= clothes_set.name %>
       <%= clothes_set.photo_URL %>
       <%= link_to '<button type="button">Remove from Cart</button>'.html_safe, cart_path(@post, :id => item.id), method: :delete, remote: true%>
     </div>
     <% end %>
   </div>

   <% end %>
 </div>
</div>


<%= submit_tag "Edit Checked" %>
<% end %>
