<div class="editchild">
<div class="container">
  <div class="row">
    <div class="grid-example col s12 m4 l8" style="border: 1px solid black; padding-bottom: 20px;">
      <h5 class="teal lighten-4" style="padding: 10px;">Edit <%= @current_child.name %> details</h5>

      <%= form_for(@current_child) do |f| %>
        <%= f.label("Name:") %>
        <%= f.text_field :name %>
        <%= f.label("Gender") %>
        <%= f.radio_button(:gender, "Male") %>
        <%= f.label(:gender_male, "Male") %>
        <%= f.radio_button(:gender, "Female") %>
        <%= f.label(:gender_female, "Female")  %>
         <br>
        <%= f.label("Birthday") %>
        <%= f.date_field :birthday %>

        <%= f.label :size_id %><br />
        <%= f.select :size_id, options_for_select(Size.all.map{|size|[size.name, size.id]}, @current_child.size_id) %>

        <div class="right-align">
        <%= f.submit("Update Child", class: 'btn') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
