<div class="editchild grey lighten-3">
<div class="container">
  <div class="editchild row">
    <div class="grid-example col s12 m4 l8 white" style="border: 1px solid black; padding-bottom: 20px;">

   <h3>New Child Form</h3>

   <div class="divider"></div>
   <br/>

   <%= form_for @new_child do |f| %>
     <%= f.label("Name:") %>
     <%= f.text_field :name %>
     <%= f.label("Gender") %>
     <%= f.radio_button(:gender, "Male") %>
     <%= f.label(:gender_male, "Male") %>
     <%= f.radio_button(:gender, "Female") %>
     <%= f.label(:gender_female, "Female")  %>
      <br/><br/>
     <%= f.label("Birthday") %>
     <%= f.text_field :birthday, class: 'datepicker' %>

     <%= f.label :size_id %><br />
     <%= f.select :size_id, options_for_select(Size.all.map{|size|[size.name, size.id]}) %>



     <%= f.submit("Add Child", class: 'btn') %>
   <% end %>
  </div>
  </div>
</div>
</div>
