<div class="container">
  <div class="row">
    <div class="input-field col s12 m10 offset-m1">
      <h4 class="header">Create an account</h4>
    </div>
    <script>
      <% if devise_error_messages! != '' %>
        // alert('Works')
        <%= devise_error_messages %>
      <% end %>
    </script>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="row">
        <div class="input-field col s6 m5 offset-m1">
          <i class="fa fa-user prefix" aria-hidden="true"></i>
          <%= f.text_field :first_name, class: 'validate', autofocus: true, required: 'required' %>
          <label for="first_name" data-error="Please enter your first name">First Name</label>
        </div>
        <div class="input-field col s6 m5">
          <%= f.text_field :last_name, class: 'validate', required: 'required' %>
          <label for="last_name" data-error="Please enter your last name">Last Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m10 offset-m1">
          <i class="fa fa-envelope prefix" aria-hidden="true"></i>
          <%= f.email_field :email, class: 'validate', autocomplete: "email", required: 'required' %>
          <label for="email" data-error="Please check you have enter your email correctly">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m10 offset-m1">
          <i class="fa fa-key prefix" aria-hidden="true"></i>
          <%= f.password_field :password, class: 'validate', autocomplete: "off", required: 'required' %>
          <label for="password" data-error="Please enter a password (minimum <% if @minimum_password_length %><%= @minimum_password_length %><% end %> characters)">Password</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m10 offset-m1">
          <i class="fa fa-key prefix" aria-hidden="true"></i>
          <%= f.password_field :password_confirmation, class: 'validate', autocomplete: "off", required: 'required' %>
          <label for="password" data-error="Please enter a password (minimum <% if @minimum_password_length %><%= @minimum_password_length %><% end %> characters)">Confirm Password</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m10 offset-m1">
          <button class="btn waves-effect waves-light green" type="submit" name="action">Create an account
            <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
          </button>
        </div>
        <div class="input-field col s12 m10 offset-m1">
          <button class="btn waves-effect waves-light blue" type="submit" name="action">Sign in with Facebook
            <i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
          </button>
        </div>
      </div>

    <% end %>

    <div class="row">
      <div class="input-field col s12 m10 offset-m1">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
