<div class="grey lighten-4">
<div class="row">
  <div class="col s12 m6 xl6" style="padding:0px;"> <%= image_tag('register_bg.jpg') %> </div>

  <div class="col s12 m6 xl6">
    <div class="container">

  <h4>Sign up</h4>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :phone_number %><br />
      <%= f.text_field :phone, autofocus: true, :required => true  %>
    </div>

    <div class="field">
      <%= f.label :street_address %><br />
      <%= f.text_field :street, autofocus: true, :required => true  %>
    </div>

    <div class="field">
      <%= f.label :unit_no %><br />
      <%= f.text_field :unit, autofocus: true, :required => true  %>
    </div>

    <div class="field">
      <%= f.label :postal_code %><br />
      <%= f.text_field :postalcode, autofocus: true, :required => true %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>
</div>
</div>
</div>
