<div class="grey lighten-4">
<div class="row">
  <div class="col s12 m6" style="padding:0px;">  <%= image_tag('register_bg.jpg') %> </div>

  <div class="col s12 m6">
    <div class="row">
      <h4>Sign up</h4>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="input-field col s6">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>
      </div>
      <div class="input-field col s6">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <div class="input-field col s6">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :phone_number %><br />
      <%= f.text_field :phone, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :street_address %><br />
      <%= f.text_field :street, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :unit_no %><br />
      <%= f.text_field :unit, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :postal_code %><br />
      <%= f.text_field :postalcode, autofocus: true %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>
</div>
</div>
</div>

<div class="row">
    <form class="col s6">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
          <label for="disabled">Disabled</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          This is an inline input field:
          <div class="input-field inline">
            <input id="email" type="email" class="validate">
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>
        </div>
      </div>
    </form>
  </div>
