<div id="chatUserList">
  <span>Users:</span>
  <% @chatroom.group.users.each do |user| %>
  <%= user.name %>
  <% end %>
</div>
<div>
<br>
<div class="is-centered">
  <div id="messageBox">
      <div id="messages" data-chatroom=<%=@chatroom.id%> data-user=<%=@user.id%>>
        <%= render partial: 'message', collection: @chatroom.messages%>
      </div>
  </div>


  <%= render partial: 'message_form', locals: {message: @message, chatroom: @chatroom}%>
</div>
