<div class="row">
  <div class="col s8 offset-s2">
    <h4>Sign up your page</h4>

    <%= form_for @new_space, url: {action: "create"} do |f| %>
    <% if @new_space.errors.any? %>
      <div>
        <h2><%= pluralize(@new_space.errors.count, "error") %> prohibited this form from being submitted:</h2>
        <ul>
          <% @new_space.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= f.label :company_name %>
      <%= f.text_field :company_name, placeholder: 'Company name' %>
    </div>
    <div>
      <%= f.label :summary %>
      <%= f.text_field :summary, placeholder: 'Lorem ipsum' %>
    </div>
    <div>
      <%= f.label :category %>
      <%= select("space", "category_id", Category.all.collect {|p| [ p.category_type, p.id ] }, { include_blank: false }, class: "browser-default") %>

      <%#= f.select "category_id", options_from_collection_for_select(Category.all, "id", "category_type"), class: "browser-default" %>
      <%= f.collection_select(:category_id, Category.all, :id, :category_type) %>
    </div>
    <div>
      <%= f.label :contact %>
      <%= f.text_field :contact, placeholder: '12345678' %>
    </div>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address, placeholder: 'Lorem ipsum' %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description, placeholder: 'Lorem ipsum' %>
    </div>
    <%= f.hidden_field(:is_active, value: false) %>
    <%= f.submit("Create new listing", class: "waves-effect waves-light btn") %>





    <% end %>






  </div>
</div>
