<div class="row">
  <div class="col s8 offset-s2">
    <h4>Sign up your page</h4>
    <%= form_tag(spaces_path) do %>
      <div>
        <%= label_tag :company_name %>
        <%= text_field_tag :company_name, nil, placeholder: 'Company name' %>
      </div>
      <div>
        <%= label_tag :summary %>
        <%= text_field_tag :summary, nil, placeholder: 'Lorem ipsum' %>
      </div>
      <div>
        <%= label_tag :category %>
        <%= text_field_tag :category, nil, placeholder: 'Lorem ipsum' %>
      </div>
      <div>
        <%= label_tag :contact %>
        <%= text_field_tag :contact, nil, placeholder: '12345678' %>
      </div>
      <div>
        <%= label_tag :address %>
        <%= text_field_tag :address, nil, placeholder: 'Lorem ipsum' %>
      </div>
      <div>
        <%= label_tag :business_descriptions %>
        <%= text_area_tag :business_descriptions %>
      </div>
      <%= link_to "Create Listing", user_path(1), class: "waves-effect waves-light btn" %>
    <% end %>
  </div>
</div>
