<!--Navigation-->
 <div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
      <div class="container">
        <div class="nav-wrapper">
        <a href="/" data-activates="mobile-demo" class="button-collapse black"><i class="material-icons">dehaze</i></a>
        <%= link_to 'BABY_vanity', root_path, class: "brand-logo center black-text" %>
        <!-- <a href="/" id="logo-container" class="brand-logo center">BABY_vanity</a> -->
          <ul class="left hide-on-med-and-down">
            <li><a href="#intro">Service</a></li>
            <li><a href="/browse">Browse</a></li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <% unless user_signed_in? %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Register", new_user_registration_path %></li>
            <% else %>
            <li><a href="/profile"><%= current_user.email %></a></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete%></a></li>
            <% end %>
            </ul>
            <ul class="side-nav" id="mobile-demo" button-collapse>
              <li><%= link_to "Home",   '#' %></li>
              <li><%= link_to "Log in", '#' %></li>
            </ul>
          </div>
        </div>
    </nav>
</div>
