<% if current_user.reg_tutor == true %>
<div class="container">
  <div class"row">
    <div class "card-container">
      <div class="card">
        <div class = "tutorcard">
          <!-- <img src="<%=current_user.photo%>" alt="" class="img-circle" > -->
          <h2>I'm a tutor</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<% else %>
  <h2>bye</h2>
<% end %>



<div class="container">

  <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Bookings</a></li>
  <li><a data-toggle="tab" href="#menu1">Listings</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>Bookings </h3>
    <p>- Show me which are the lessons that I've bought and have attended(completed)</p>
    <div class="row">
    <div class="col-md-12">
        <section class="icon-box-tabs ">
            <ul class="nav nav-pills">
              <li class="active">
                  <a data-toggle="tab" href="#tab-14" aria-expanded="true">
                      <h3>Lessons booked</h3>
                      <i class="fa fa-laptop"></i>
                  </a>
              </li>
              <li class="">
                  <a data-toggle="tab" href="#tab-15" aria-expanded="false">
                      <h3>Lessons history</h3>
                      <i class="fa fa-test"></i>
                  </a>
              </li>

  </div>
</div>
</div>


  <div id="menu1" class="tab-pane fade">
    <h3>Listings </h3>
    <p>- Show me the lessons that I created and see which are booked or completed</p>
    <div class="row">
    <div class="col-md-12">
        <section class="icon-box-tabs ">
            <ul class="nav nav-pills">
    <% if current_user.reg_tutor == true %>
    <li class="active">
        <a data-toggle="tab" href="#tab-16" aria-expanded="false">
            <h3>Booked</h3>
            <i class="fa fa-file-text-o"></i>
        </a>
    </li>
    <li class="">
        <a data-toggle="tab" href="#tab-17" aria-expanded="false">
            <h3>Created</h3>
            <i class="fa fa-test"></i>
        </a>
    </li>
    <li class="">
        <a data-toggle="tab" href="#tab-18" aria-expanded="false">
            <h3>Completed</h3>
            <i class="fa fa-testtest"></i>
        </a>
    </li>
    <%else%>
    <h3>Sorry, please update your account  profile to "Tutor" and you can start making lessons!</h3>
    <%end%>
  </div>
</div>
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div id="tab-16" class="tab-pane active">
                                            <div class="heading-title-alt">
                                                <span class="heading-sub-title-alt text-uppercase theme-color-">lessons</span>
                                                <h2 class="text-uppercase">table of lessons booked</h2>
                                            </div>
                                            <table class="table table-dark">
                                              <thead>
                                                <tr>
                                                  <th scope="col">Language</th>
                                                  <th scope="col">Tutor Name</th>
                                                  <th scope="col">Venue</th>
                                                  <th scope="col">Date/time</th>
                                                  <th scope="col">Duration</th>
                                                  <th scope="col">Price</th>
                                                  <th scope="col">Status</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                            <% @all_bookings.each do |booking| %>
                                                <tr>
                                                  <th scope="row"><%= link_to booking.lesson.language_taught, lesson_path(booking.lesson.id), method: :get %></th>
                                                  <td><%= booking.lesson.tutor.name %></td>
                                                  <td><%= booking.lesson.venue %></td>
                                                  <td><%= booking.lesson.datetime.strftime('%a, %d %b %Y %I:%M %p') %></td>
                                                  <td><%= booking.lesson.duration %>hrs</td>
                                                  <td>$<%= booking.lesson.price * booking.lesson.duration %></td>
                                                  <% if (DateTime.now.utc - (3600 * booking.lesson.duration)) > booking.lesson.datetime %>
                                                  <td>Completed</td>
                                                  <% else %>
                                                  <td>Not completed</td>
                                                  <% end %>
                                                </tr>
                                            <% end %>
                                            </tbody>
                                            </table>
                                            </div>



                                        <div id="tab-17" class="tab-pane">
                                          <!--TAB NUMBER WRONG   -->
                                            <div class="heading-title-alt">
                                                <span class="heading-sub-title-alt text-uppercase theme-color-">lessons</span>
                                                <h2 class="text-uppercase">Table of created lessons</h2>
                                            </div>
                                            <table class="table table-dark">
                                              <thead>
                                                <tr>
                                                  <th scope="col">Language</th>
                                                  <th scope="col">Tutor Name</th>
                                                  <th scope="col">Venue</th>
                                                  <th scope="col">Price</th>
                                                  <th scope="col">Date/time</th>
                                                  <th scope="col">Student</th>
                                                  <th scope="col">Change</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                            <% @user_lesson.each do |lesson| %>
                                                <tr>
                                                  <th scope="row"><%= lesson.language_taught%></th>
                                                  <td><%= lesson.tutor.name%></td>
                                                  <td><%= lesson.venue%></td>
                                                  <td>$<%= lesson.price %></td>
                                                  <td><%= lesson.datetime.strftime('%a, %d %b %Y %I:%M %p') %></td>
                                                  <td><%= current_user.name %></td>
                                                  <td> <%= link_to "Edit", edit_booking_path(lesson) %>
                                                    <%= link_to "Delete", booking_path(lesson), method: :delete, data: { confirm: "Are you sure?"} %>
                                                  </td>
                                                </tr>
                                            <% end %>

                                            </tbody>
                                            </table>
                                            </div>


                                            <div id="tab-18" class="tab-pane">
                                                <div class="heading-title-alt">
                                                    <span class="heading-sub-title-alt text-uppercase theme-color-">lessons</span>
                                                    <h2 class="text-uppercase">Table of created lessons</h2>
                                                </div>
                                                <table class="table table-dark">
                                                  <thead>
                                                    <tr>
                                                      <th scope="col">Language</th>
                                                      <th scope="col">Tutor Name</th>
                                                      <th scope="col">Venue</th>
                                                      <th scope="col">Price</th>
                                                      <th scope="col">Date/date</th>
                                                      <th scope="col">Student</th>
                                                      <th scope="col">Change</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                <% @user_lesson.each do |lesson| %>
                                                    <tr>
                                                      <th scope="row"><%= lesson.language_taught%><h2>hi</h2></th>
                                                      <td><%= lesson.tutor.name%></td>
                                                      <td><%= lesson.venue%></td>
                                                      <td>$<%= lesson.price %></td>
                                                      <td><%= lesson.datetime.strftime('%a, %d %b %Y %I:%M %p') %><h2>hi</h2></td>
                                                      <td><%= current_user.name %></td>

                                                      <td><span class="badge badge-warning">Booked</span></td>
                                                      <td><span class="badge badge-warning">Still open</span> <%= link_to "Edit", edit_booking_path(lesson) %>
                                                        <%= link_to "Delete", booking_path(lesson), method: :delete, data: { confirm: "Are you sure?"} %>
                                                      </td>
                                                    </tr>
                                                <% end %>

                                                </tbody>
                                                </table>
                                                </div>


                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                  </div>
                </div>
