<div class="content-lg container">
  <h1>Confirmation Slip</h1>

  <%=@lesson.name%>
  <%=@lesson.language_taught%>
  <%=@lesson.datetime%>
  <%=@lesson.duration%>
  <%=@lesson.venue%>
  Price: $<%=@lesson.price%>

  <h1>Terms and Conditions</h1>
  <p>ldlsnnlnsdn;sdn;dsn;fnsd;lnf;dslf</p>

  <h4><%= link_to "Confirm Booking"  %></h4>





</div>
