<div class="content-lg container">
  <h1>Confirmation Slip</h1>

  <%=@lesson.name%>
  <%=@lesson.language_taught%>
  <%=@lesson.datetime%>
  <%=@lesson.duration%>
  <%=@lesson.venue%>
  Price: $<%=@lesson.price%>

  <h1>Terms and Conditions</h1>

  <%= form_tag charges_path do %>
  <%= hidden_field_tag 'amount', @lesson.price * @lesson.duration * 100 %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Amount: $<%=@lesson.price * @lesson.duration  %></span>
        <div class="field">
        </div>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="A month's subscription"
            data-amount="<%=@lesson.price * @lesson.duration%>00"
            data-locale="auto"
            data-currency="SGD"></script>
  <% end %>





</div>
