<div class="container">
  <br>

  <h3>Create a Group</h3>

  <div class="row">
    <div class="col s5">
      <h4><%= @current_restaurant.name %></h1>
      <h5><%= @current_deal.name %></h2>
      <br>
      <p>You're all set, just select a date and time for the meetup!</p>

      <%= form_for @new_group, url: deal_groups_path do |f| %>

        <div class="field">
          <label class="label"><%= label_tag :date %></label>
          <div class="control">
            <%= date_field_tag :date, nil, :required => true, :class => 'input' %>
          </div>
        </div>

        <div class="field">
          <label class="label"><%= label_tag :time %></label>
          <div class="control">
            <%= time_field_tag :time, nil, :required => true, :class => 'input' %>
          </div>
        </div>

        <% if flash[:date_error] %>
          <div class="notice"><%= flash[:date_error] %></div>
        <% end %>

        <br>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary">Submit</button>
            <button class="button-is-primary" name="button">
              <%= link_to "Cancel", deal_path(params[:deal_id]) %>
            </button>
          </div>
        </div>

      <% end %>
    </div>

    <div class="col s2">

    </div>

    <div class="col s5">
      <img src="">
    </div>

  </div>

</div>
