<h1><%= @current_restaurant.name %> (Create)</h1>
<h3><%= @current_deal.name %></h3>
<h3><%= @current_deal.description %></h3>

<%= form_for @new_group, url: deal_groups_path do |f| %>

  <div class="field">
    <label class="label"><%= label_tag :date %></label>
    <div class="control">
      <%= date_field_tag :date %>
    </div>
  </div>

  <div class="field">
    <label class="label"><%= label_tag :time %></label>
    <div class="control">
      <%= time_field_tag :time %>
    </div>
  </div>

  <% if flash[:date_error] %>
    <div class="notice"><%= flash[:date_error] %></div>
  <% end %>

  <br>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
    <div class="control">
      <button class="button">Cancel</button>
    </div>
  </div>

<% end %>
