<h1><%= @current_restaurant.name %> (Create)</h1>
<h3><%= @current_deal.name %></h3>
<h3><%= @current_deal.description %></h3>

<%= form_for @new_group, url: deal_groups_path do |f| %>

  <div class="field">
    <label class="label"><%= label_tag :date %></label>
    <div class="control">
      <%= date_field_tag :date, nil, :required => true %>
    </div>
  </div>

  <div class="field">
    <label class="label"><%= label_tag :time %></label>
    <div class="control">
      <%= time_field_tag :time, nil, :required => true %>
    </div>
  </div>

  <br>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
    <div class="control">
      <%= link_to "Cancel", deal_path(params[:deal_id]) %>
    </div>
  </div>

<% end %>
