<h1><%= "Group #{@group.id}\'s Page for the #{@group.deal.name} deal" %></h1>
<h2><%= "#{@group.deal.restaurant.name}" %></h2>
<h5><%= "#{@group.deal.description}" %></h5>

<br>

<!-- show members -->
<h3>Attendees:</h3>
<ul>
  <% @group.users.each do |user| %>
  <li>
   <%= user.name %>
 </li>
  <% end %>
</ul>

<!-- Show flash error -->
<% if flash[:join_error] %>
  <div class="notice"><%= flash[:join_error] %></div>
<% end %>

<% if flash[:max_error] %>
  <div class="notice"><%= flash[:max_error] %></div>
<% end %>

<!-- join button, patch request -->
<% if @group.users.include? current_user %>
  <%= link_to "Leave Group", group_path, method: :delete %>

  <% else %>
    <!-- Leave button -->
    <%= link_to "Join Group", group_path, method: :patch %>

<% end %>

<!-- button to go back to all groups -->
<%= link_to "Back to Deal", deal_path(@group.deal) %>

<br></br>

<p><%= "Date of meetup: #{@group.date}" %></p>
<p><%= "Time of meetup: #{@group.time}" %></p>

<% if @group.users.first %>
  <small><%= "This group was created on #{@group.created_at.getlocal} by #{@group.users.first.name}" %></small>

  <% else %>
    <small><%= "This group was created on #{@group.created_at.getlocal}"%></small>

<% end %>
