<div class="row">
  <div class="col s8 offset-s2">
    <div class="profile">
      <h4><%= @admin.first_name %> <%= @admin.last_name %></h4>
      <a class="waves-effect waves-light btn">
        <i class="material-icons left">message</i>Message</a>
    </div>
  </div>
</div>

<div class="row">

  <div class="col s3 admin-list">
    <ul class="tabs">
    <%= @spaces.find_each do |item| %>
    <li class="tab col s12">
      <a href="#space-<%= item.id %>"><%= item.company_name %></a>
    </li>
    <% end %>
    </ul>
  </div>


<div class="col s9">
    <%= @spaces.find_each do |item| %>
  <div id="space-<%= item.id %>" class="col s12">
<h5>Company Name:</h5>
<p><%= item.company_name %></p>
<h5>Address:</h5>
<p><%= item.address %></p>
<h5>Contact:</h5>
<p><%= item.contact %></p>
<h5>Summary:</h5>
<p><%= item.summary %></p>
<h5>Description:</h5>
<p><%= item.description %></p>

<div class="row">

  <div class="col s3">
  <%= form_for item do |f| %>
    <%= f.hidden_field(:is_active, value: true) %>
    <%= f.submit("Approve", class: "waves-effect waves-light btn") %>
  <% end %>
  </div>

  <div class="col s3">
  <%= form_for item, method: :delete do |f| %>
    <%= f.submit("Reject", class: "waves-effect waves-light btn") %>
  <% end %>
  </div>


</div>


</div>
<% end %>
</div>




</div>
