<div class="row">
  <div class="col s8 offset-s2">
    <div class="profile">
      <h4><%= @space.user.first_name %> <%= @space.user.last_name %></h4>
      <%= image_tag(@space.image_url, alt: 'Image', class: 'img-size') %>
      <a class="waves-effect waves-light btn">
        <i class="material-icons left">message</i>Message</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s3">
    <ul class="tabs">
      <li class="tab col s12">
        <a href="#space-bookmark">Bookmark</a>
      </li>
      <li class="tab col s12">
        <a href="#space-about">About</a>
      </li>
      <li class="tab col s12">
        <a href="#space-websites">Websites</a>
      </li>
      <!-- <li class="tab col s12">
        <a href="#space-photo">photo</a>
      </li> -->
      <li class="tab col s12">
        <a href="#space-products">Products</a>
      </li>
    </ul>

    <%= link_to "View listing", space_path(@space), class: 'waves-effect waves-light btn' %>
  </div>

  <div id="space-bookmark" class="col s9">
    <div class="row">
      <%= render @bookmarks %>
    </div>
  </div>

  <div id="space-about" class="col s9">
    <%= form_for @space do |f| %>
    <div>
      <%= f.label :company_name %>
      <%= f.text_field :company_name, placeholder: 'Company name'%>
    </div>
    <div>
      <%= f.label :summary %>
      <%= f.text_field :summary, placeholder: 'Lorem ipsum' %>
    </div>
    <div>
      <%= f.label :category %>
      <%= select("space", "category_id", Category.all.collect {|p| [ p.category_type, p.id ] }, { include_blank: false }, class: "browser-default") %>
    </div>
    <div>
      <%= f.label :contact %>
      <%= f.text_field :contact, placeholder: '12345678' %>
    </div>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address, placeholder: 'Lorem ipsum' %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description, placeholder: 'Lorem ipsum' %>
    </div>
    <%= f.hidden_field(:is_active, value: false) %>
    <%= f.submit("Create new listing", class: "waves-effect waves-light btn") %>
    <% end %>



</div>

<div id="space-websites" class="col s9">
  <%= form_for @website do |f| %>
  <div>
    <%= f.label :website %>
    <%= f.text_field :website, placeholder: 'Website' %>
  </div>
  <div>
    <%= f.label :facebook %>
    <%= f.text_field :facebook, placeholder: 'Facebook' %>
  </div>
  <div>
    <%= f.label :instagram %>
    <%= f.text_field :instagram, placeholder: 'Instagram' %>
  </div>
  <div>
    <%= f.label :googleplus %>
    <%= f.text_field :googleplus, placeholder: 'Google+' %>
  </div>
  <div>
    <%= f.label :linkedin %>
    <%= f.text_field :linkedin, placeholder: 'Linkedin' %>
  </div>
  <%= f.submit("Save") %>
  <% end %>
</div>

<!-- === for upload of logo === -->
<!-- <div id="space-photo" class="col s9">
  <%#= form_for @space do |f| %>
    <div>
      <%#= f.label :image_url %>
      <%#= f.file_field :image_url %>
    </div>
    <%#= f.submit %>
  <%# end %>
</div> -->



<div id="space-products" class="col s9">


  <%= form_for @product, url: space_products_path(params[:id]) do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div>
      <%= f.label :image_url %>
      <%= f.file_field :image_url %>
    </div>
    <%= f.hidden_field(:space_id, value: @space.id) %>
    <%= f.submit %>
  <% end %>











</div>
</div>
