<h2>Edit event</h2>

<%= form_for @current_event do |f| %>

<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :name, class: "validate"%>
          <%= f.text_field :name, class: "validate"%>
</div>
</div>
<div class="row">
  <div class="input-field col s12">
<%= f.label :location %>
<%= f.text_field :location %>
</div>
</div>

<div class="row">
  <div class="input-field col s12">
<%= f.label :date %>
<%= f.text_field :date %>
</div>
</div>

<div class="row">
  <div class="input-field col s12">
<%= f.label :time %>
<%= f.text_field :time %>
</div>
</div>

<div class="row">
  <div class="input-field col s12">
<%= f.label :budget %>
<%= f.text_field :budget %>
</div>
</div>

<div class="row">
  <div class="input-field col s12">
<%= f.hidden_field :user_id %>
</div>
</div>

<%= f.submit%>
<% end %>
</div>
