<h2><%= @current_event.name %></h2>
<h4>WHERE? <%= @current_event.location %></h4>
<h4>WHICH DAY? <%= @current_event.date %></h4>
<h4>WHAT TIME? <%= @current_event.time %></h4>

<div class="showevent">
  <div class="eventleft">
    <ul class="collection with-header">
      <li class="collection-header"><h4>Items for this event:</h4></li>
      <li class="collection-item avatar">
        <img src="#" alt="" class="circle">
        <span class="title">Name: </span>
        <p>Price: <br>
          Link:
        </p>
      </li>
      <li class="collection-item avatar">
        <img src="#" alt="" class="circle">
        <span class="title">Name: </span>
        <p>Price: <br>
          Link:
        </p>
      </li>
      <li class="collection-item avatar">
        <img src="#" alt="" class="circle">
        <span class="title">Name: </span>
        <p>Price: <br>
          Link:
        </p>
      </li>
      <li class="collection-item avatar">
        <img src="#" alt="" class="circle">
        <span class="title">Name: </span>
        <p>Price: <br>
          Link:
        </p>
      </li>
    </ul>
    <%= link_to "Edit Event", edit_event_path, class: "waves-effect waves-light btn" %>
    <i class="material-icons left">mode_edit</i>
  </div>
  <div class="eventleft">
    <div id="chart_show"></div>
    <p>Total Budget Remaining: <%= @current_event.budget %></p>
  </div>

</div>
