<div class="container">
  <h3><%= @current_event.name %></h3>
  <h5>WHERE?
    <%= @current_event.location %></h5>
  <h5>WHICH DAY?
    <%= @current_event.date %></h5>
  <h5>WHAT TIME?
    <%= @current_event.time.to_s.split(" ")[1] %></h5>
  <%= link_to "Edit Details", edit_event_path, class: "waves-effect waves-light btn" %>

  <div class="showevent">
    <div class="eventleft">
      <ul class="collection with-header">
        <li class="collection-header">
          <h4>Items for this event:</h4>
        </li>
        <%#= @all_item_for_current_event.each do |item| %>
        <li class="collection-item avatar">
          <img src="#" alt="" class="circle">
          <span class="title">Name:
            <%#= item.name %>
          </span>
          <p>Price:
            <%#= item.price %>
            <br>
            Link:
            <%#= item.product_details_url %>
          </p>
        </li>
      </ul>
      <%= link_to 'Add new items', "/items/new?event=#{params[:id]}", class: "waves-effect waves-light btn"%>
    </div>
    <div class="eventleft">
      <div id="chart_show"></div>
      <p>Total Budget Remaining:
        <%= @current_event.budget %></p>
    </div>
  </div>
</div>
