<h1>Browse Clothes</h1>

<%= select_tag "style", options_from_collection_for_select(@styles, "id", "name", @clothes_style_id), onchange: "window.location.replace('/choose_size_style/#{@child.size_id}/' + this.value + '/browse')" %>

<input type="hidden" value="<%=current_user.points%>" class='userPoints'>

<div class="row clothes">
  <% @filtered_clothes.each do |set| %>

  <div class="col s3 ">
    <h6><%= set.name %></h6>
    <input type="hidden" value="<%=set.id%>" class='setId'>

    <div class="">
      <img src="<%= set.photo_URL %>" alt="<%= set.name %>">
    </div>
    <% unless set.in_cart(current_user.id) %>
      <button class = "addBtn">Add To cart</button>
    <% else %>
      <button class = "removeBtn"> Remove from cart</button>
    <% end %>

  </div>


  <% end %>
</div>
