<h1>Browse Clothes</h1>

<div class="row">
  <% @filtered_clothes.each do |set| %>

  <div class="col s3">
    <h6><%= set.name %></h6>
    <div class="">
      <img src="<%= set.photo_URL %>" alt="<%= set.name %>">
    </div>
    <% unless set.in_cart(current_user.id) %>
    <%= link_to '<button type="button">Add to Cart</button>'.html_safe, cart_index_path(:clothes_set_id => set.id), :method => :post, remote: true%>
    <% else  %>
    <% @cart_item_id = set.cart_id(current_user.id) %>
    <%= link_to '<button type="button">Remove from Cart</button>'.html_safe, cart_path(@post, :id => @cart_item_id), method: :delete, remote: true%>
    <% end %>

  </div>

  <% end %>
</div>
