<div class="content-lg container">
  <div class="row">
    <div class="col-sm-6">
      <h2>Lessons</h2>
    </div>
  </div>

  <div class="searchbox">
    <div class="row">
      <div class="col-md-5"><input type="text" class="form-control" placeholder="Search by Keywords..."></div>
      <div class="col-md-3"><input type="text" class="form-control" placeholder="Price"></div>
      <div class="col-md-3">
        <select class="form-control category">
          <option>Language</option>
          <option>C++</option>
          <option>C</option>
          <option>Python</option>
          <option>PHP</option>
        </select>
      </div>
      <div class="col-md-1"><input type="button" class="btn" value="Search"></div>
    </div>
  </div>

  <br>
  <br>
  <!--// end row -->


    <h2></h2>


  <div class="row">
    <% @lessons.each do |lesson| %>
    <div class="col-md-4 col-sm-6">

      <div class="card-container manual-flip">
        <div class="card">
          <div class="front">
            <div class="cover">
              <!-- <%= image_tag "alex.jpg", class:"img-responsive" %> -->

              <!-- <img src="images/rotating_card_thumb.png"/> -->
            </div>
            <div class="user">

              <img src="<%= lesson.tutor.photo %>" class="img-circle">

            </div>
            <div class="content">
              <div class="main">
                <h3 class="name"><%= lesson.tutor.name %></h3>

                <div class="text-center">
                  <p class="profession"><%= lesson.language_taught %></p>
                </div>
                <br>

                <p class="text-center">
                  <%= lesson.datetime %><br>

                </p>

                <div class="rate">
                  $<%= lesson.price %>/hrs
                </div>
                <!-- <p class="text-center">"I am certify by microsoft! <br> Weee <br> pick me as tutor </p> -->
                <!-- <div class="class-card-price"> <div class="class-card-price-inner"> $185 </div> </div> -->
              </div>

              <div class="footer">
                <button class="btn btn-simple" onclick="rotateCard(this)">
                  <i class="fa fa-mail-forward"></i>
                  Click here to view more
                </button>
              </div>
            </div>
          </div>
          <!-- end front panel -->
          <div class="back">
            <div class="header">
              <h5 class="motto">"Learn to code with Us"</h5>
            </div>
            <div class="content">
              <div class="main">
                <h4 class="text-center"><%= lesson.name %></h4>
                <p class="text-center"><%= lesson.details %><br>
                  <b>Duration : <%= lesson.duration %> hrs</b><br>
                  <b>Venue : <%= lesson.venue %></b>

                </p>

                <div class="text-center">
                  <%= link_to "View more Details", lesson_path(lesson) %>
                </div>

              </div>
            </div>
            <div class="footer">
              <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                <i class="fa fa-reply"></i>
                Back
              </button>
            </div>
          </div>
          <!-- end back panel -->
        </div>

        <!-- end card -->
      </div>

      <!-- end card-container -->
    </div>
    <% end %>
    <!-- end col sm 3 -->


  </div>
  <!--// end row -->
</div>
<!-- End Latest Products -->
