<br>

<br>

<div class="container">
  <div class="row">
    <div class="col s5">

      <div class="section flow-text">
        <h4><%= @restaurant.name %> deal for <%= @deal.pax %></h4>
        <h6><strong><%= @deal.name %> </strong></h6>
      </div>
      <div class="divider"></div>

      <div class="section flow-text">
        <h6><strong>Deal Description</strong></h6>
        <h6><%= @deal.description %></h6>
      </div>
      <div class="divider"></div>

      <div class="section">
      <table>
        <tr>
          <th>Group Name</th>
          <th>Users</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
        <% @groups.each do |group|%>
          <% if group.date >= Date.today %>

          <tr>
            <td><%= group.id %></td>
            <td><%= group.users.count %>/<%= @deal.pax %></td>
            <td><%= group.date %></td>
            <td><%= group.time %></td>

            <td id="dealsViewGroup"><%= link_to 'View Group', group_path(group) %></td>
          </tr>
        <% end %>
      <% end %>
      </table>
    </div>

      <div class="divider"></div>

      <div class="section">
        <a class="waves-effect waves-light btn red">
          <%= button_to "Back", restaurants_main_path, :method => "get" %>
        </a>
      </div>



    </div>

    <div class="col s2">

    </div>

    <div class="col s5">
      <div class="section">
        <img class="circle responsive-img" src="<%=@deal.img %>"%>
      </div>
      <div class="section right-align">
        <a class="waves-effect waves-light btn red">
          <%= button_to "Create Group", new_deal_group_path(@deal), :method => "get" %>
        </a>

      </div>
    </div>


  </div>

</div>
