<br>
<br>
<div class="row">
  <div class="col s3"></div>
  <div class="col s3">
    <h4><%= @restaurant.name %></h4>
    <h6><%= @deal.name %></h6>
    <h6><%= @deal.description %></h6>
    <table>
      <tr>
        <th>Group Name</th>
        <th>Users</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
      <% @groups.each do |group|%>
        <% if group.date >= Date.today %>
        <tr>
          <td><%= group.id %></td>
          <td><%= group.users.count %>/<%= @deal.pax %></td>
          <td><%= group.date %></td>
          <td><%= group.time %></td>
          <td id="dealsViewGroup"><%= link_to 'View Group', group_path(group) %></td>
        </tr>
      <% end %>
    <% end %>
    </table>

    <%= link_to 'Create Group', new_deal_group_path(@deal) %>
    <%= link_to 'Back', restaurants_main_path %>
  </div>
  <div class="column"></div>
</div>
