<h1>Showing All Groups Under One Deal</h1>

<h1><%= @deal.name %> </h1>

<p><%= @deal.description %></p>

<%= link_to 'View Groups List', deal_groups_path(@groups) %>

<%= link_to 'Create Group', new_deal_group_path(@deal) %>

<br>

<% @groups.each do |group|%>
  <% if group.date >= Date.today %>
  <table>
    <tr>
      <th>Group Name</th>
      <th>Group Size</th>
      <th>Deal Size</th>
      <th>Date</th>
      <th>Time</th>
    </tr>

    <tr>
      <td><%= group.id %></td>
      <td><%= group.pax %></td>
      <td><%= @deal.pax %></td>
      <td><%= group.date %></td>
      <td><%= group.time %></td>
      <td><%= link_to 'View Group', group_path(group) %></td>
    </tr>
  <% end %>
<% end %>
</table>

<%= link_to 'Back', restaurant_deals_path(@restaurant) %>
