<h1>Hello</h1>

<% @lessons.each do |lesson|%>
<h2><%= lesson.tutor.name %></h2>
<h2><%= lesson.tutor.email %></h2>
<h2><img src="<%= lesson.tutor.photo %>" alt="Display pic"></h2>
<h2><%= lesson.duration %></h2>
<h2><%= link_to lesson.language_taught, lesson_path(lesson) %></h2>
<h2><%= lesson.price %></h2>

<h2>test</h2>
<% end %>
