<div class="content-lg container" style="width: 900px">
  <br /><br /><br /><h1>New lesson</h1>

  <%= bootstrap_form_for(@new_lesson) do |f| %>
  <%= f.text_field :name, required: true %>
  <%= f.number_field :price, in: 1..200 ,required: true  %>
  <%= f.number_field :duration, in: 1..24 ,required: true %>
  <%= f.datetime_select :datetime ,required: true %>
  <%= f.select :language_taught, ['Ruby', 'Javascript', 'CSS'],required: true %>
  <%= f.text_field :venue ,required: true %>
  <%= f.text_area :details, size: "60x12", required: true%>


  <%= f.submit "Create" %>

<% end %>
</div>
