<div class="container">
  <div class="row">
    <div class="input-field col s12 m10 offset-m1">
      <h4 class="header">Login</h4>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row">
    <div class="input-field col s12 m10 offset-m1">
      <i class="fa fa-envelope prefix" aria-hidden="true"></i>
      <%= f.email_field :email, class: 'validate', autofocus: true, autocomplete: "email", required: 'required' %>
      <label for="email" data-error="Please enter your email address">Email</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m10 offset-m1">
      <i class="fa fa-key prefix" aria-hidden="true"></i>
      <%= f.password_field :password, autocomplete: "off", class: 'validate', required: 'required' %>
      <label for="password" data-error="Please enter a password">Password</label>
      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end -%>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m10 offset-m1">
      <button class="btn waves-effect waves-light green" type="submit" name="action">Login
        <i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m10 offset-m1">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <% end %>
</div>
