<h1>Filter Form</h1>
<p>
  Glad to hear <%= current_user.child[0].name %> is growing healthily, what size is <%= current_user.child[0].name %> now?
</p>

<%= form_for @child, url: profile_children_update_child_size_path, method: :patch do |f| %>
  <%= f.label :size_id %><br />
  <%= f.select :size_id, options_for_select(Size.all.map{|size|[size.name, size.id]}) %>
  <%= f.submit("Update Child", class: 'btn') %>
<% end %>
