<div class="container">
  <div class="filter red lighten-5">
  <div class="row filernote">
    <div class="col s12 m8">
      <div class="card-panel filter">

        <h4 class="left-align">
          Glad to hear that <%= current_user.child[0].name %> is growing healthily, what <span class="teal-text";>size</span> is <%= current_user.child[0].name %> now?
        </h4>

        <%= form_for @child, url: profile_children_update_child_size_path, method: :patch do |f| %>
          <%= f.label :size_id %><br />
          <%= f.select :size_id, options_for_select(Size.all.map{|size|[size.name, size.id]}, @child.size_id) %>

            <%= f.submit("Update Child", class: 'btn') %>

        <% end %>

      </div>
    </div>
  </div>
  </div>
</div>
