<div class="container searching">
  <h3 class='searchtitle'>Adding items to <%= Event.find(params[:event]).name %></h3>
  <div class="queryside">
    <%= form_tag "/items?event=#{params[:event]}", :id => 'searchItem' do %>
      <%= label_tag(:search_text, "Search supermarket database:") %>
      <%= text_field_tag(:search_text) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
</div>
