<div class="container searching">
  <h3 class='searchtitle'>Adding items to
    <%= Event.find(params[:event]).name %></h3>
  <div class="queryside">
    <%= form_tag "/items?event=#{params[:event]}", :id => 'searchItem' do %>
    <%= label_tag(:search_text, "Search supermarket database:") %>
    <%= text_field_tag(:search_text) %>
    <div class="btn waves-effect waves-light" type="submit" name="action">
      <%= submit_tag("Search") %>
      <i class="material-icons right">search</i>

    </div>
    <% end %>
  </div>
</div>
<h1><%= params[:id] %></h1>

<div class="container">

  <% if @arr_of_pdt_hashes %>
  <%= form_tag("/items/create", method: "post") do %>
  <% @arr_of_pdt_hashes.each_with_index do |pdt, index| %>
  <div class='pdt_container'>
    <h3><%= pdt['pdt_name'] %></h3>
    <img alt="product_image" class="pdt_img" src="<%= pdt['img_url'] %>"/>
    <p><%= pdt['price'] %></p>
    <a href="<%= pdt['pdt_url'] %>" target="_blank">More info</a>
    <br>
    <%= check_box_tag("add_item[]", "#{pdt}", false, id: "add_item_#{index}", class: "event#{params[:event]}") %>
    <%= label_tag("add_item_#{index}", "Add") %>
    <%= hidden_field_tag("event_id", value = params[:event]) %>
  </div>
  <% end %>
</br></br>
<div class="fixed-action-btn">
<div class="btn waves-effect waves-light btn-large" type="submit" name="action">
  <%= submit_tag "Add Items" %>
  <i class="material-icons right">add_shopping_cart</i>
</div>
</div>
<% end %>
<% end %>
</div>
