<%= render "admin/admin_nav"%>
<div class="container">
  <div class="row">
    <div class="col m8 offset-m2">
      <h3>View Product</h3>
    </div>

    <div class="col s12 m8 offset-m2">
      <ul class="collection">
        <li class="collection-item avatar">
          <i class="fa fa-list-alt circle light-blue darken-2" aria-hidden="true"></i>
          <span class="">Product Name</span>
          <h4 class="flow-text"><%= @product.product_name %></h4>
        </li>
        <li class="collection-item avatar">
          <i class="fa fa-tag circle light-blue darken-2" aria-hidden="true"></i>
          <span class="">Model Number</span>
          <h4 class="flow-text"><%= @product.model_no %></h4>
        </li>
        <li class="collection-item avatar">
          <i class="fa fa-barcode circle light-blue darken-2" aria-hidden="true"></i>
          <span class="">Serial Number</span>
          <h4 class="flow-text"><%= @product.serial_no %></h4>
        </li>
        <li class="collection-item avatar">
          <i class="fa fa-calendar-check-o circle light-blue darken-2" aria-hidden="true"></i>
          <span class="">Warranty (Months)</span>
          <h4 class="flow-text"><%= @product.warranty_in_months %></h4>
        </li>
        <li class="collection-item avatar">
          <i class="fa fa-qrcode circle light-blue darken-2" aria-hidden="true"></i>
          <span class="">QR Code</span>
          <div class="section">
            <div style="width: 100%; max-width: 400px; margin: 0; padding: 0;">
            <svg>
              <%= (@svg).html_safe %>
            </svg>
          </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <%= link_to fa_icon("pencil-square-o", text: "Edit this Product"), edit_admin_product_path, class:"btn waves-effect waves-light amber accent-4" %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <%= link_to fa_icon("arrow-left", text: "Back to Product Listing"), admin_products_path, class:"btn waves-effect waves-light light-blue darken-3" %>
    </div>
  </div>
</div>
