<div class="container">

<!-- <h1>New message to <%#= @receiver.space ? @receiver.space.company_name : @receiver.username %></h1> -->
<h1>New message to <%= @receiver.username %></h1>

<%= form_for @personal_message do |f| %>
  <%= hidden_field_tag 'receiver_id', @receiver.id %>

  <%= f.label :body %>
  <%= f.text_area :body %>
  <%#= f.text_area :body, class: 'materialize-textarea' %>

  <%#= f.submit('Send', class: "btn waves-effect waves-light") %>

  <%= f.submit %>

<% end %>

</div>
