<h1>Profile</h1>

<h4>User Information</h4>
  <ul>
  <li>Username: <%= current_user.name %></li>
  <li>Email:  <%= current_user.email%></li>
  <li>Address:  <%= current_user.street %> <%= current_user.unit %></li>
  <li>Postal Code:  s(<%= current_user.postalcode %>)</li>
  <li>Phone No:  <%= current_user.phone %></li>
  <li>Points:  <%= current_user.points %></li>
  <li>Subscription:  <%= current_user.subscription_type %>
  </ul>

<%= link_to '<button type="button">Edit profile</button>'.html_safe, '/profile/edit' %>

<h4>Children Information</h4>

<p>
  Name: <%= current_user.child[0].name %> <br>
  Gender: <%= current_user.child[0].gender%> <br>
  Birthday: <%= current_user.child[0].birthday %><br>
  Clothes size: <%= current_user.child[0].size.name %> <br>
</p>

<% unless current_user.child[0].present? %>
<%= link_to '<button type="button">Add child information</button>'.html_safe, 'profile/children/new' %>
<% else %>
<%= link_to '<button type="button">Edit child information</button>'.html_safe, 'profile/children/edit' %>
<%= link_to '<button type="button">Delete child information</button>'.html_safe, 'profile/children/delete' %>
<% end %>
