
<div class="container">  <!--  The container class is set to ~70% of the window width. -->
  <h3 class="#b2dfdb teal lighten-4">User Information</h3>
    <ul>
      <li>Username: <%= current_user.name %></li>
      <li>Email:  <%= current_user.email%></li>
      <li>Address:  <%= current_user.street %> <%= current_user.unit %></li>
      <li>Postal Code:  s(<%= current_user.postalcode %>)</li>
      <li>Phone No:  <%= current_user.phone %></li>
      <li>Points:  <%= current_user.points %></li>
      <li>Subscription:  <%= current_user.subscription_type %>
    </ul>
    <a class="waves-effect waves-light btn" href="/profile/edit">Edit profile</a>

    <div class="divider"></div>

    <%= form_tag charges_path do %>
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
        <label class="amount">
          <span>Subscription amount: $39.90</span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="A month's subscription"
              data-amount="3990"
              data-locale="auto"></script>
    <% end %>

  <div class="divider"></div>

  <% unless current_user.child[0].present? %>
  <% else %>
    <h4 class="#b2dfdb teal lighten-4">Children Information</h4>
    <p>
      Name: <%= current_user.child[0].name %> <br>
      Gender: <%= current_user.child[0].gender%> <br>
      Birthday: <%= current_user.child[0].birthday %><br>
      Clothes size: <%= current_user.child[0].size.name %> <br>
    </p>
  <% end %>

  <% unless current_user.child[0].present? %>
    <a class="waves-effect waves-light btn" href="/profile/children/new">Add child information</a>
  <% else %>
    <a class="waves-effect waves-light btn" href="/profile/children/edit">Edit child information</a>
    <a class="waves-effect waves-light btn" href="/profile/children/delete">Delete child information</a>
  <% end %>

</div>
