
<div class="container" style="border-top: 1px solid black; padding-top: 20px;">  <!--  The container class is set to ~70% of the window width. -->
  <div class="profile-box" style="border: 1px solid #eeeeee; padding: 30px;">

    <div class="row">
      <div class="col s10 left-align">
        <h5 class="profile-header teal lighten-4" style="margin-top: 0px; padding: 7px 0px 10px 10px;">User Information</h5>
      </div>

     <div class="col s2 right-align">
      <a class="waves-effect waves-light btn" href="/profile/edit">Edit profile</a>
     </div>
   </div>

   <div class="divider"></div>

  <table class="bordered">

        <tbody>
          <tr>
            <td><strong>Username:</strong></td>
            <td colspan="2"><%= current_user.name %></td>
          </tr>
          <tr>
            <td><strong>Email:</strong></td>
            <td colspan="2"><%= current_user.email%></td>
          </tr>
          <tr>
            <td><strong>Address:</strong></td>
            <td colspan="2"><%= current_user.street %> <%= current_user.unit %></td>
          </tr>
          <tr>
            <td><strong>Postal Code:</strong></td>
            <td colspan="2">s(<%= current_user.postalcode %>)</td>
          </tr>
          <tr>
            <td><strong>Phone No:</strong></td>
            <td colspan="2"><%= current_user.phone %></td>
          </tr>
          <tr>
            <td><strong>Points:</strong></td>
            <td colspan="2"> <%= current_user.points %></td>
          </tr>
          <tr>
            <td><strong>Subscription:</strong></td>
            <td colspan="2">  <%= current_user.subscription_type %></td>
          </tr>
        </tbody>
      </table>


    <div class="divider"></div>
    <br/>
    <br/>

    <div class="" style="border-top: 1px solid black; padding-top: 20px;">

    <div class="paymentbox grey" style="padding: 20px 0px 20px 20px;" >
      <%= form_tag charges_path do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <label class="amount">
            <span style="color: black;"><strong>Subscription amount: $39.90</strong></span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="A month's subscription"
                data-amount="3990"
                data-locale="auto"></script>
      <% end %>
    </div>

    <div class="" style="border-top: 1px solid black; margin-top: 20px;"></div>

  <% unless current_user.child[0].present? %>
  <% else %>
    <h5 class="#b2dfdb teal lighten-4" style="margin-top: 10px; padding: 7px 0px 10px 10px;">Children Information</h5>
    <div class="divider"></div>
    <table class="bordered">

          <tbody>
            <tr>
              <td><strong>Name:</strong></td>
              <td colspan="2"><%= current_user.child[0].name %></td>
            </tr>
            <tr>
              <td><strong>Gender:</strong></td>
              <td colspan="2"><%= current_user.child[0].gender%></td>
            </tr>
            <tr>
              <td><strong>Birthday:</strong></td>
              <td colspan="2"><%= current_user.child[0].birthday %></td>
            </tr>
            <tr>
              <td><strong>Clothes size:</strong></td>
              <td colspan="2"><%= current_user.child[0].size.name %></td>
            </tr>
          </tbody>
        </table>

  <% end %>

  <div class="childbox right-align" style="margin-top: 30px;">
    <% unless current_user.child[0].present? %>
      <a class="waves-effect waves-light btn" href="/profile/children/new">Add child information</a>
    <% else %>
      <a class="waves-effect waves-light btn" href="/profile/children/edit">Edit child information</a>
      <a class="waves-effect waves-light btn" href="/profile/children/delete">Delete child information</a>
    <% end %>
  </div>
</div>
</div>
