HELLO - Tutor, your class has been booked!

<h1>Hi Tutor,

  Thank you for booking nameoflesson!</h1>

  <div class="content-lg container">
    <div class="row">
      <div class="col-xs-12">
        <div class="booking">

          <div class="invoice-title">
            <h2>Booking Summary</h2>
            <h3 class="pull-right"></h3>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-6">
              <address>
                <strong>Lesson Details :</strong>
                <br>
                Lesson Name :
                <%= @lesson.name %>
                <br>
                Programming Language :
                <%= @lesson.language_taught %>
                <br>
                Date :
                <%= @lesson.datetime %>
                <br>
                Duration :
                <%= @lesson.duration %>
                hrs
                <br>
                Venue :
                <%= @lesson.venue %>
                <br>
                Total Price : <b>$<%=@lesson.price * @lesson.duration %></b>
                <br>
              </address>
            </div>
          </div>
        </div>
        <br><br>
