<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="navbar-fixed">
      <nav class="teal darken-2">
        <div class="nav-wrapper">
          <div class="row">
            <div class="col s1 logo">
              <%= link_to "Logo", root_path, class: 'brand-logo' %>
            </div>

            <div class="col s1">
              <%= link_to 'Categories', "#", class: "dropdown-button btn", "data-activates": 'dropdown1' %>

              <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#">one</a></li>
                <li><a href="#">two</a></li>
                <li><a href="#">three</a></li>
                <li><a href="#"><i class="material-icons">view_module</i>four</a></li>
              </ul>
            </div>

            <div class="col s4 offset-s1">
              <%= form_tag(page_path(1), method: "get", class: "search-input") do %>
                <div class="input-field">
                  <%#= search_field(:user, :name) %>
                  <%#= label_tag(:search) do %>
                    <!-- <i class="material-icons">search</i> -->
                  <%# end  %>
                </div>
              <% end %>
            </div>
            <div class="col s1">
              <%= link_to "Search", page_path(1), class: "waves-effect waves-light btn" %>
            </div>

            <div class="col s3 offset-s1">
              <%= link_to "Profile", user_path(1), class: "waves-effect waves-light btn" %>
              <%= link_to "Dashboard", user_path(1), class: "waves-effect waves-light btn" %>
              <%= link_to "Create business listing", new_space_path, class: "waves-effect waves-light btn" %>

              <%= link_to "Login", new_user_session_path, class: "waves-effect waves-light btn" %>
              <%= link_to "Signup", user_registration_path, class: "waves-effect waves-light btn" %>
              <%= link_to "Logout", destroy_user_session_path, class: "waves-effect waves-light btn", method: :delete %>

            </div>
          </div>
        </div>
      </nav>
    </div>

    <%= yield %>

    <footer class="page-footer teal darken-2">
      <div class="footer-copyright">
        <div class="container">
          Copyright &copy; 2018 LocalSquare. All rights reserved.
        </div>
      </div>
    </footer>
  </body>
</html>
