<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar">
    <div class="navbar-brand">
      <% if user_signed_in? %>
        <div class="navbar-item">
          Logged in as &nbsp;<strong><%= current_user.name %></strong>
        </div>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-item' %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-item'%>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-item'%>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-item'%>
      <% end %>
    </div>
  </nav>
  <%= yield %>
  <br>
  <footer>
    &copy; Group Shen 2017
  </footer>
</html>
