<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDPPIJi451Gb2Ee2ehiwOiar1HtiE10UGg&&libraries=places"  %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <nav class="navbar">
      <% if user_signed_in? %>

        <a class="navbar-item">
          Logged in as &nbsp<strong><%= current_user.name %></strong>
        </a>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-item' %>
        <%= link_to 'Restaurants', restaurants_main_path, :class => 'navbar-item' %>
        <%= link_to "My Groups", profile_path, :class => 'navbar-item' %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-item'  %>

        <%= link_to "Find a Restaurant", restaurants_main_path %>

      <% else %>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-item'%>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-item'%>
      <% end %>
    </nav>

    <%= yield %>

    <br>

    <footer>
      &copy; Group Shen 2017
    </footer>

  </body>

</html>
