<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", root_path %>
    <% if current_user %>
    <%= link_to "Create Event", new_event_path %>
    <%= link_to "View My Events", events_path  %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <!-- true -->
    <% else %>
    <%= link_to "Login", new_user_session_path %>
    <%= link_to "Register", new_user_registration_path %>
    <!-- false -->
    <% end %>

    <h1>Events Budget Planner</h1>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <footer> Done by Team Puma </footer>
  </body>
</html>
