<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDPPIJi451Gb2Ee2ehiwOiar1HtiE10UGg&&libraries=places"  %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.name %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <%= link_to "Profile", profile_path %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-item'%>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-item'%>
      <% end %>
    </div>
  </nav>
  <%= yield %>
  <br>
  <footer>
    &copy; Group Shen 2017
  </footer>
</html>
